<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <meta http-equiv="refresh" content="10; url=/ads2" /> 
</head>
<body>
    
    
    <iframe src="https://www.cpmrevenuegate.com/byac4wfz?key=8805313483c3eddd29d75c3c12b32f40&height=100" marginwidth="0" marginheight="0" width="750" height="50" scrolling="no" border="0" frameborder="0"></iframe>
</body>
</html>