<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <meta http-equiv="refresh" content="10; url=/ads" /> 
</head>
<body>
    <style>
        div ul li{
            display: flex;
            box-sizing: border-box;
            height: 0;
            top: 0;
            justify-content: space-between;
        }
    </style>
    
    <br><br><br><br>
   
    <iframe src="https://www.highratecpm.com/ik6m0fz6?key=eec102d27761ece470690ee0841fdbe1&height=100" marginwidth="0" marginheight="0" width="750" height="50" scrolling="no" border="0" frameborder="0"></iframe>
</body>
</html>